span{
    color:black;
    font-size:13px;
}

.account-control-style{
    z-index: 1;
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    top: 0px;
    right: 4.8em;
}

.account-control-section-logout-btn{
    position: absolute;
    background: #fff;
}

.map-btn{
    width: 4.8em;
    height: 40px;
    font-weight: bold;
}

.sidebar{
    position: fixed;
    color: #fff;
}

.sidebar.left {
    top: 0;
    left: 0;
    bottom: 0;
    width: 500px;
    background: #fff;
    z-index:1;
    /* overflow: scroll; */
}

.sidebar.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 270px;
    background: #448AFF;
}

.sidebar.top {
    left: 0;
    right: 0;
    top: 0;
    height: 270px;
    background: #03A9F4;
}

.sidebar.bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: 270px;
    background: #03A9F4;
}

.sidebar-close-btn {
    width: 25px;
    position: absolute;
    top: 0;
    left: 500px;
    }

.section-sidebar-left-content{
    overflow:scroll;
    height:100vh;
    /* 注意：ディベロッパーツールではvhがうまく機能しない */
    /* height:500px; */
}

.header-image{
    height: 300px;
    width: 100%;
    overflow: hidden;
    /* transform: translateY(-25%) translateX(0%); */
    /* position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    height: 544px;
    /* 親要素にposition:relative; */
}

.header-title-description {
    padding: 16px 24px 16px;
}

.header-title {
    font-family: Meiryo, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    margin: 0;
}

.sectin-place-type-block{
    margin-top: 10px;
}

span{
    color: black;
}
.ratings{
    position: relative;
    margin-bottom: 0.5em;
}

.ratings-line{
    height: 20px;
    margin: 0px 25px 15px;
}
.section-rating-inline-right{
    left: 250px;
}
.section-criterion-name-display{
    font-weight: bold;
}
.section-rating-value{
    position: absolute;
    left: 200px;
    font-size: 14px;
}

.rating{
    /* width:245px; */
    box-sizing: border-box;
    /* display: inline-block; */
    position: absolute;
}
.raging-value{
    position: absolute;
    left: 205px;
}
.rating-left{
    /* padding-left: 25px; */
}
.rating-right{
    left: 200px;
}

.range{
    color: black;
    position: absolute;
    left: 70px;
}

.range > input{
    vertical-align: middle;
    width: 120px;
    height: 12px;
    
}
.section-note-note-content{
    margin: 0px 20px 8px 20px;
}
.section-note-text{
    width: 440px;
    height: 300px;
    font-family: meiryo;
}
.btn{
    width: 4.8em;
}
.section-submit-cancel-btn-line{
    position: relative;
}
.section-submit-cancel-btn{
    margin-bottom: 5px;
    position: absolute;
}
.login{
    left: 20px;
    position: absolute;
}
.section-submit-btn{
    left: 315px;
} 
.section-delete-btn{
    height: 27px;
    margin-left: 20px;
    display: inline-block;
}
.section-cancel-btn{
    margin-left: 300px;
    /* position: absolute; */
} 

/* sidebar */
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
      height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .controls {
      background-color: #fff;
      border-radius: 2px;
      border: 1px solid transparent;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      height: 29px;
      margin-left: 35px;
      margin-top: 10px;
      outline: none;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 400px;
    }

    .controls:focus {
      border-color: #4d90fe;
    }

    .title {
      font-weight: bold;
    }

    #infowindow-content {
      display: none;
    }

    #map #infowindow-content {
      display: inline;
    }
    /* sidebar */