span{
    color:black;
    font-size:14px;
}

.sidebar{
    position: fixed;
    color: #fff;
}

.sidebar.left {
    top: 0;
    left: 0;
    bottom: 0;
    width: 500px;
    background: #fff;
    z-index:1;
    /* overflow: scroll; */
}

.sidebar.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 270px;
    background: #448AFF;
}

.sidebar.top {
    left: 0;
    right: 0;
    top: 0;
    height: 270px;
    background: #03A9F4;
}

.sidebar.bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: 270px;
    background: #03A9F4;
}

.sidebar.close {
    width: 25px;
    position: absolute;
    top: 0;
    left: 500px;
    }

.section-sidebar-left-content{
    overflow:scroll;
    height:100vh;
    /* 注意：ディベロッパーツールではvhがうまく機能しない */
    /* height:500px; */
}

.header-image{
    height: 300px;
    overflow: hidden;
    /* position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    height: 544px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%); */
    /* 親要素にposition:relative; */
}

.header-title-description {
    padding: 16px 24px 16px;
}

.header-title {
    font-family: Meiryo, sans-serif;
    font-size: 1.4rem;
    color: black;
    margin: 0;
}

span{
    color: black;
}
.ratings{
    position: relative;
}

.ratings-line{
    height: 35px;
}
.section-rating-inline-right{
    left:240px;
}

.section-rating-value{
    position: absolute;
    left: 215px;
}

.rating{
    width:245px;
    box-sizing: border-box;
    /* display: inline-block; */
    position: absolute;
}
.raging-value{
    position: absolute;
}
.rating-left{
    padding-left: 20px;
}
.rating-right{
    left: 200px;
}

.range{
    color: black;
    position: absolute;
    left: 80px;
}

.range > input{
    vertical-align: middle;
    width: 125px;
    height: 12px;
}
.section-note-note-content{
    margin: 20px 20px 0px;
}
.section-note-text{
    width: 440px;
    height: 300px;
}
.section-submit-cancel-btn-line{
    position: relative;
}
.section-submit-cancel-btn{
    width: 55px;
    height: 27px;
    margin-bottom: 5px;
    position: absolute;
}
.login{
    left: 20px;
    position: absolute;
}
.section-submit-btn{
    left: 350px;
} 
.section-logout-btn{
    height: 27px;
    margin-left: 20px;
    display: inline-block;
}
.section-cancel-btn{
    margin-left: 330px;
    position: static;
} 

.btn-default{
    width: 55px;
    height: 27px;
}